In [1]:
import pandas as pd
import numpy as np
import math

In [75]:
co2_df = pd.read_csv("../1_Data/2_peak/co2_peak.csv")
tvoc_df = pd.read_csv("../1_Data/2_peak/tvoc_peak.csv")
pm2p5_df = pd.read_csv("../1_Data/2_peak/pm2p5_peak.csv")
temperature_df = pd.read_csv("../1_Data/2_peak/temp_peak.csv")
humidity_df = pd.read_csv("../1_Data/2_peak/humidity_peak.csv")
co2_df.head()

,datetime,reference_co2,Device1_co2,Device2_co2,Device3_co2,Device4_co2,Device5_co2,mean_co2
0,2024-06-15 17:30:00,1646.0,1841.726667,1862.360000,1810.550000,1821.056667,1840.823333,1803.752778
1,2024-06-17 17:00:00,1897.0,2178.340000,2204.946667,2151.206667,2151.690000,2224.386667,2134.595000
2,2024-06-26 17:00:00,1404.0,1696.036667,1698.536667,1701.756667,1708.193333,1641.613333,1641.689444
3,2024-06-28 18:00:00,1838.0,1958.440000,1942.686667,1971.866667,1929.720000,1935.406667,1929.353333
4,2024-07-01 15:30:00,1864.0,2039.080000,2018.396667,2035.226667,2015.596667,2010.650000,1997.158333

In [80]:
params_dict = {
    "co2": co2_df,
    "tvoc": tvoc_df,
    "pm2p5": pm2p5_df,
    "temperature": temperature_df,
    "humidity": humidity_df    
}

In [77]:
peak1 = co2_df.loc[0:0]
peak1

,datetime,reference_co2,Device1_co2,Device2_co2,Device3_co2,Device4_co2,Device5_co2,mean_co2
0,2024-06-15 17:30:00,1646.0,1841.726667,1862.36,1810.55,1821.056667,1840.823333,1803.752778

In [78]:
peak1.iloc[0,0]

'2024-06-15 17:30:00'

In [83]:
def evaluate_result(param):
    results = []
    
    if param == "co2":
        low = 400
        mid = 2000
        high = 5000
        error_percent_1 = 0.03
        error_percent_2 = 0.05
        error_number = 50
        
        
    elif param == "tvoc":
        low = 65
        mid = 440
        high = 2180
        error_percent_1 = 0.15
        error_percent_2 = 0.20
        error_number = 8.7
        
    elif param == "pm2p5":
        low = 0
        mid = 150
        high = 500
        error_percent_1 = 0.15
        error_percent_2 = 0.20
        error_number = 5
        

        
    for i in range(2, 7):
        
        value = peak1.iloc[0, i]
        mean_co2 = peak1['mean_co2'].iloc[0]  # Assuming mean_co2 is a single value

        if low <= value <= mid:
            if mean_co2 * (1-error_percent_1) - error_number <= value <= mean_co2 * (1+error_percent_1) + error_number:
                results.append("Pass")
            else:
                results.append("Fail")
        elif mid < value <= high:
            if mean_co2 * (1-error_percent_2) - error_number <= value <= mean_co2 * (1+error_percent_2) + error_number:
                results.append("Pass")
            else:
                results.append("Fail")

In [84]:
evaluate_result("co2")

#     elif param == "temperature":
#         first_braket_lower = 400
#         first_braket_higher = 2000
        
#     elif param == "humidity":
#         first_braket_lower = 400
#         first_braket_higher = 2000

,datetime,reference_co2,Device1_co2,Device2_co2,Device3_co2,Device4_co2,Device5_co2,mean_co2
0,2024-06-15 17:30:00,1646.0,1841.726667,1862.36,1810.55,1821.056667,1840.823333,1803.752778

In [60]:
results = []

for i in range(2, 7):
    value = peak1.iloc[0, i]
    mean_co2 = peak1['mean_co2'].iloc[0]  # Assuming mean_co2 is a single value

    if 400 <= value <= 2000:
        if mean_co2 * 0.97 - 50 <= value <= mean_co2 * 1.03 + 50:
            results.append("Pass")
        else:
            results.append("Fail")
    elif 2000 < value <= 4000:
        if mean_co2 * 0.95 - 50 <= value <= mean_co2 * 1.05 + 50:
            results.append("Pass")
        else:
            results.append("Fail")

print(results)

['Pass', 'Pass', 'Pass', 'Pass', 'Pass']

In [61]:
peak1 = peak1.drop(["datetime","reference_co2","mean_co2"],axis = 1)
peak1.loc[len(peak1)] = results
peak1

   Device1_co2 Device2_co2 Device3_co2  Device4_co2  Device5_co2
0  1841.726667     1862.36     1810.55  1821.056667  1840.823333
1         Pass        Pass        Pass         Pass         Pass

In [ ]:
#=IF(AND($C3+50+($C3*0.03)>=D3,$C3-50-($C3*0.03)<=D3),"PASS","FAIL")